@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Account Details</h1>
<h4>Name</h4>
<p>@Model.FirstName @Model.LastName</p>
<h4>Raid Sightings Submitted:</h4>
<div class="row">
    <div class="col-sm-2">
        <h4>Date/Time</h4>
    </div>
    <div class="col-sm-2">
        <h4>Type</h4>
    </div>
    <div class="col-sm-4">
        <h4>Location</h4>
    </div>
    <div class="col-sm-4">
        <h4>Description</h4>
    </div>
</div>

@foreach (var sighting in Model.GetAllUserSightings())
{
    <div class="row">
        <div class="col-sm-2">
            @sighting.Time
        </div>
        <div class="col-sm-2">
            @sighting.Type
        </div>
        <div class="col-sm-4">
            @sighting.Address, @sighting.City, @sighting.State, @sighting.Zip
        </div>
        <div class="col-sm-4">
            @sighting.Description
        </div>
    </div>

}

<a href="/sightings/@Model.Id/save">Post New Raid</a>


<div id="google_translate_element"></div>

<script type="text/javascript">function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
}</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>